<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!-- Change 1 - change stylesheets. --> 
<link rel="stylesheet" href="/images/blueprint-1.0/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/images/blueprint-1.0/print.css" type="text/css" media="print" />	
<!--[if lt IE 8]><link rel="stylesheet" href="/images/blueprint-1.0/ie.css" type="text/css" media="screen, projection" /><![endif]-->
<link type="text/css" href="/images/pkmurphy.css" rel="stylesheet" media="screen" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Is it YAML?</title>
<style>textarea {width:98%;height:250px;padding:5px;}
fieldset {padding:0 .5em .5em .5em;}
fieldset, #IE8#HACK {padding-top:.5em;}
#fonturl, #fontname {width: 350px; margin-right: 2em; }</style>
<script type="text/javascript">
function setIt (textstring) {
document.getElementById('glyphexample').firstChild.nodeValue  = textstring;
}
function resetIt() {
document.getElementById('yamlp').firstChild.nodeValue = "";
}

</script>
</head>
<body>
<div id="container" class="container">
<div class="span-24 last">
<div class="span-1"><p>&nbsp;</p></div>
<div class="span-22">
<h1 style="text-align: center; margin-top: 2em;" id="top">Is it YAML?</h1>

{% if state == 1 %}

<h2>Yes, it is YAML!</h2>
<p>The file you entered is properly formatted and has been presented in 'canonical' form for your perusal.</p>
<p><pre>{{ canon }}&nbsp;</pre></p>

{% endif %}
{% if state == 2 %}

<h2>No, it is not YAML!</h2>
<p>I'm afraid the text you entered is not legitimate YAML. Here's an error message.</p>
<p><pre class="error">{{ error }}</pre></p>
<p>Here's the original text, just so you can check where things went wrong.</p>
<p><pre>{{ original }}&nbsp;</pre></p>
{% endif %}

{% if state != 0 %}
<h2>Do you want to have another go?</h2>
{% endif %}
<p>Enter some text in the
text field below and click "Enter" to check if it is YAML. Hit "Reset" to reset the whole contents.</p>
<form id="textentry" action="." method="post">{% csrf_token %}
    <fieldset>
    <legend>Put yer YAML here!</legend>
    <p id="yamlp">
        <label for="textentry">But is is properly formatted?</label><br/>
        <textarea name="yamlarea" id="yamlarea" rows="20" cols="120">Hello world!</textarea>
    </p>
    <p>
        <input name="submit" value="Submit" type="submit" />
        <input type="reset" value="Reset" onClick="resetIt();"/>
    </p>

    </fieldset>
</form>

<h2>About</h2>
<p>This project is about <a href="http://www.yaml.org/">YAML</a>, &quot;a human friendly data serialization standard for 
all programming languages&quot;. YAML is just a text format for exchanging data. It exists for cases 
where <a href="http://www.w3.org/XML/">XML</a> is too much overhead. I like YAML. I find it
more robust in practice than XML (where one missing angle bracket could corrupt a whole file),
yet easier to type by hand.</p>  

<p>&quot;Is it YAML?&quot; is a little project I conjured up while writing a specification for
YPath - a language for addressing parts of a YAML document, as 
<a href="http://www.w3.org/TR/xpath/">XPath</a> does for XML. To do a proper job of things, I have
to write YAML example files. However, I sometimes need to check if the example files are good 
and proper. &quot;Is it YAML?&quot; gives me a test bed where I can copy-and-paste my examples,
and see if <em>they really are YAML</em>.</p>

<h2>Installation and Dependencies</h2>
<p>&quot;Is it YAML?&quot; is a Django app that can be installed. Download it in
<a href="http://www.pkmurphy.com.au/images/packages/isityaml-0.1.tar.gz">tar.gz</a> format,
extract it, run the setup.py file, and add "isityaml" to your INSTALLED_APPS list in
settings.py.</p> 
<p>This project depends on <a href="http://pyyaml.org/">PyYAML</a>, a Python parser for YAML, and
<a href="https://www.djangoproject.com/">Django</a>, a web framework. The HTML file used to
display the output references stylesheets produced by the <a href="http://blueprintcss.org/">Blueprint
CSS</a> framework, plus one <a href="http://www.pkmurphy.com.au/images/pkmurphy.css">style 
sheet used on my site</a>. These stylesheets are not mandatory, but I find they make the page
more attractive that the black-and-white default styles provided by most browsers.</p>
<p style="text-align: center;"><em>Copyright © <a href="http://www.pkmurphy.com.au/">Peter Murphy</a>
2011.</em></p>
</div>
<div class="span-1 last"><p>&nbsp;</p></div>
</div>
</div>
</body>
</html>